In [ ]:
'''
Sources:
HDI
- Human Development Index (HDI).csv:
http://hdr.undp.org/en/data
- human-development-index-escosura.csv:
https://ourworldindata.org/human-development-index

GINI
- economic-inequality-gini-index.csv:
https://ourworldindata.org/grapher/economic-inequality-gini-index

shapefile
- Countries_WGS84.shp:
https://hub.arcgis.com/datasets/a21fdb46d23e4ef896f31475217cbb08_1

https://www.naturalearthdata.com/downloads/10m-cultural-vectors/
'''

# GINI Index

In [1]:
import pandas as pd
import geopandas as gpd
import numpy as np

In [2]:
df_map = gpd.read_file('./geo/Countries_WGS84/Countries_WGS84.shp')
df_map.columns = ['country_code', 'country', 'geometry']
df_map.drop(df_map.index[14], inplace=True) #Drop row corresponding to 'Antarctica'

In [3]:
df_gini = pd.read_csv('./data/GINI/economic-inequality-gini-index.csv')

In [4]:
df_gini_pivot = df_gini.pivot_table(index=['Entity', 'Code'], columns='Year', values='GINI index (World Bank estimate)').reset_index()
df_gini_pivot = df_gini_pivot.fillna(method='bfill', axis=1)
df_gini_pivot = df_gini_pivot.fillna(method='ffill', axis=1)
#df_gini_pivot.fillna(0, inplace=True)
df_gini_pivot

Year,Entity,Code,1979,1980,1981,1982,1983,1984,1985,1986,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Albania,ALB,27.0,27.0,27.0,27.0,27.0,27.0,27.0,27.0,...,30.0,30.0,30.0,29.0,29.0,29.0,29.0,29.0,29.0,29.0
1,Algeria,DZA,40.2,40.2,40.2,40.2,40.2,40.2,40.2,40.2,...,27.6,27.6,27.6,27.6,27.6,27.6,27.6,27.6,27.6,27.6
2,Angola,AGO,42.7,42.7,42.7,42.7,42.7,42.7,42.7,42.7,...,42.7,42.7,42.7,42.7,42.7,42.7,42.7,42.7,42.7,42.7
3,Argentina,ARG,40.8,40.8,42.8,42.8,42.8,42.8,42.8,42.8,...,48.3,47.4,46.3,45.3,44.5,43.6,42.5,42.3,42.7,42.7
4,Armenia,ARM,36.2,36.2,36.2,36.2,36.2,36.2,36.2,36.2,...,32.5,29.8,30.7,29.6,31.1,31.3,30.5,31.5,31.5,32.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158,Venezuela,VEN,55.6,55.6,55.6,53.5,53.5,53.5,53.5,53.5,...,46.9,46.9,46.9,46.9,46.9,46.9,46.9,46.9,46.9,46.9
159,Vietnam,VNM,35.7,35.7,35.7,35.7,35.7,35.7,35.7,35.7,...,35.8,35.6,35.6,39.3,39.3,35.7,35.7,34.8,34.8,34.8
160,Yemen,YEM,35.0,35.0,35.0,35.0,35.0,35.0,35.0,35.0,...,36.7,36.7,36.7,36.7,36.7,36.7,36.7,36.7,36.7,36.7
161,Zambia,ZMB,60.5,60.5,60.5,60.5,60.5,60.5,60.5,60.5,...,54.6,55.6,55.6,55.6,55.6,57.1,57.1,57.1,57.1,57.1
162,Zimbabwe,ZWE,43.2,43.2,43.2,43.2,43.2,43.2,43.2,43.2,...,43.2,43.2,43.2,43.2,43.2,43.2,43.2,43.2,43.2,43.2

In [5]:
df_gini_pivot[df_gini_pivot['Entity'] == 'Denmark']

Year,Entity,Code,1979,1980,1981,1982,1983,1984,1985,1986,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
37,Denmark,DNK,24.9,24.9,24.9,24.9,24.9,24.9,24.9,24.9,...,25.9,26.2,25.3,26.7,27.3,27.5,27.8,28.5,28.5,28.5

In [6]:
df_gini_pivot[df_gini_pivot['Entity'] == 'Brazil']

Year,Entity,Code,1979,1980,1981,1982,1983,1984,1985,1986,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
17,Brazil,BRA,58.0,58.0,58.0,58.4,59.0,58.4,55.6,58.5,...,55.9,55.2,54.4,53.9,53.1,53.1,52.7,52.9,51.5,51.3

In [7]:
replace_values  = {
     'Myanmar':'Myanmar (Burma)',
     'Saint Lucia':'St. Lucia',
     'Tanzania':'Tanzania, United Republic of'
    }

df_gini_pivot.replace({'Entity': replace_values}, inplace=True)

In [8]:
YEAR = 2011
gpd_gini = pd.merge(df_map, df_gini_pivot[['Entity', YEAR]], left_on='country', right_on='Entity', how = 'left')
gpd_gini[[YEAR]] = gpd_gini[[YEAR]].fillna(0)

In [ ]:
import json
from bokeh.io import output_notebook, show, output_file
from bokeh.models import LogColorMapper, LinearColorMapper, ColorBar, LogTicker, GeoJSONDataSource
from bokeh.palettes import brewer, d3, all_palettes
from bokeh.plotting import figure

In [ ]:
geosource = GeoJSONDataSource(geojson = gpd_gini.to_json())

In [ ]:
#Define a sequential multi-hue color palette.
palette = all_palettes['Viridis'][8]
#Reverse color order
palette = palette[::-1]

color_mapper = LinearColorMapper(palette=palette, low = 0, high = gpd_gini[YEAR].max())

TOOLS = "pan,wheel_zoom,reset,hover,save"

tick_labels = {'0': '0%', '5': '5%', '10':'10%', '15':'15%', '20':'20%', '25':'25%', '30':'30%','35':'35%', '40': '>40%'}

color_bar = ColorBar(color_mapper=color_mapper,
                     label_standoff=8,
                     width = 500,
                     height = 20,
                     border_line_color=None,
                     location = (0,0), 
                     orientation = 'horizontal')
                     #major_label_overrides = tick_labels)

p = figure(
    title='GINI Index, ' + str(YEAR), 
    tools=TOOLS,
    plot_height = 480,
    plot_width = 720,
    x_axis_location=None,
    y_axis_location=None,
    tooltips=[
        ("Country", "@country"), ("GINI", "@"+str(YEAR))
    ])
p.grid.grid_line_color = None
p.hover.point_policy = "follow_mouse"

p.patches('xs','ys', source=geosource,
          fill_color={'field': str(YEAR), 'transform': color_mapper},
          fill_alpha=0.8, line_color="black", line_width=0.2)

p.add_layout(color_bar, 'below')

output_notebook()

show(p)

# HDI

In [9]:
df_hdi = pd.read_csv('./data/HDI/Human Development Index (HDI).csv', sep=',', skiprows=1)
df_hdi.dropna(axis=1, how='all', inplace=True) # drop empty columns
df_hdi.drop(df_hdi.index[189:], inplace=True) # drop last part of the table
df_hdi.replace('..', 0, inplace=True) # replace null values to zero
df_hdi.iloc[:,2:] = df_hdi.iloc[:,2:].astype(float)

In [10]:
replace_values  = {
     'Bahamas':'Bahamas, The',
     'Belarus':'Byelarus',
     'Bolivia (Plurinational State of)':'Bolivia',
     'Brunei Darussalam':'Brunei',
     'Cabo Verde':'Cape Verde',
     'Czechia':'Czech Republic',
     'Gambia':'Gambia, The',
     'Iran (Islamic Republic of)':'Iran',
     'Korea (Republic of)':'South Korea',
     'Micronesia (Federated States of)':'Federated States of Micronesia',
     'Moldova (Republic of)':'Moldova',
     'Myanmar':'Myanmar (Burma)',
     'North Macedonia':'Macedonia',
     'Palau':'Pacific Islands (Palau)',
     'Russian Federation':'Russia',
     'Saint Kitts and Nevis':'St. Kitts and Nevis',
     'Saint Lucia':'St. Lucia',
     'Saint Vincent and the Grenadines':'St. Vincent and the Grenadines',
     'Samoa':'Western Samoa',
     'Syrian Arab Republic':'Syria',
     'Tanzania (United Republic of)':'Tanzania, United Republic of',
     'Venezuela (Bolivarian Republic of)':'Venezuela',
     'Viet Nam':'Vietnam'
    }

df_hdi.replace({'Country': replace_values}, inplace=True)

In [11]:
df_hdi[df_hdi['Country'] == 'Denmark']

,HDI Rank (2018),Country,1990,1991,1992,1993,1994,1995,1996,1997,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
46,11,Denmark,0.799,0.804,0.809,0.815,0.824,0.831,0.837,0.843,...,0.906,0.91,0.922,0.924,0.926,0.928,0.926,0.928,0.929,0.93

In [12]:
df_hdi[df_hdi['Country'] == 'Brazil']

,HDI Rank (2018),Country,1990,1991,1992,1993,1994,1995,1996,1997,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
23,79,Brazil,0.613,0.62,0.626,0.634,0.642,0.651,0.657,0.664,...,0.718,0.726,0.73,0.734,0.752,0.755,0.755,0.757,0.76,0.761

In [13]:
YEAR = str(YEAR)
gpd_hdi = pd.merge(df_map, df_hdi[['Country', YEAR]], left_on='country', right_on='Country', how = 'left')
gpd_hdi[[YEAR]] = gpd_hdi[[YEAR]].fillna(0)

In [ ]:
geosource = GeoJSONDataSource(geojson = gpd_hdi.to_json())

In [ ]:
#Define a sequential multi-hue color palette.
palette = all_palettes['Viridis'][8]
#Reverse color order 
#palette = palette[::-1]

color_mapper = LinearColorMapper(palette=palette, low = 0, high = 1)

TOOLS = "pan,wheel_zoom,reset,hover,save"

tick_labels = {'0': '0%', '5': '5%', '10':'10%', '15':'15%', '20':'20%', '25':'25%', '30':'30%','35':'35%', '40': '>40%'}

color_bar = ColorBar(color_mapper=color_mapper,
                     label_standoff=8,
                     width = 500,
                     height = 20,
                     border_line_color=None,
                     location = (0,0), 
                     orientation = 'horizontal')
                     #major_label_overrides = tick_labels)

p = figure(
    title='Human Development Index, ' + YEAR, 
    tools=TOOLS,
    plot_height = 480,
    plot_width = 720,
    x_axis_location=None,
    y_axis_location=None,
    tooltips=[
        ("Country", "@country"), ("HDI", "@"+YEAR)
    ])
p.grid.grid_line_color = None
p.hover.point_policy = "follow_mouse"

p.patches('xs','ys', source=geosource,
          fill_color={'field': YEAR, 'transform': color_mapper},
          fill_alpha=0.8, line_color="black", line_width=0.1)

p.add_layout(color_bar, 'below')

output_notebook()

show(p)

# Normalising Data

In [14]:
YEAR = int(YEAR)

In [15]:
# GINI normalized
df_gini_pivot['norm_'+str(YEAR)] = ((df_gini_pivot[YEAR]-df_gini_pivot[YEAR].min())/(df_gini_pivot[YEAR].max()-df_gini_pivot[YEAR].min()))

In [16]:
# Inverted GINI
df_gini_pivot['inv_'+str(YEAR)] = df_gini_pivot.loc[:,'norm_'+str(YEAR)].apply(lambda x : 1-x)

In [17]:
# HDI normalized
df_hdi['norm_'+str(YEAR)]=((df_hdi[str(YEAR)]-df_hdi[str(YEAR)].min())/(df_hdi[str(YEAR)].max()-df_hdi[str(YEAR)].min()))

# Correlation

In [18]:
df_corr = pd.merge(df_gini_pivot[['Entity', 'inv_'+str(YEAR)]], df_hdi[['Country', 'norm_'+str(YEAR)]], left_on='Entity', right_on='Country')
df_corr['corr'] = df_corr['inv_'+str(YEAR)] - df_corr['norm_'+str(YEAR)]

In [29]:
df_corr.sort_values('corr').head(60)

,Entity,inv_2011,Country,norm_2011,corr
120,South Africa,0.000000,South Africa,0.703075,-0.703075
15,Botswana,0.074550,Botswana,0.716861,-0.642311
126,Suriname,0.149100,Suriname,0.750795,-0.601695
93,Namibia,0.061697,Namibia,0.637328,-0.575631
27,Colombia,0.236504,Colombia,0.779427,-0.542924
101,Panama,0.298201,Panama,0.81018,-0.51198
16,Brazil,0.264781,Brazil,0.774125,-0.509344
55,Honduras,0.154242,Honduras,0.637328,-0.483086
10,Belize,0.259640,Belize,0.741251,-0.481611
103,Paraguay,0.277635,Paraguay,0.73913,-0.461495
25,Chile,0.406170,Chile,0.861082,-0.454912
30,Costa Rica,0.380463,Costa Rica,0.814422,-0.433959
149,Zambia,0.161954,Zambia,0.573701,-0.411747
86,Mexico,0.393316,Mexico,0.791092,-0.397776
142,United States,0.575835,United States,0.969247,-0.393412
81,Malaysia,0.439589,Malaysia,0.826087,-0.386498
146,Venezuela,0.424165,Venezuela,0.81018,-0.386016
63,Israel,0.565553,Israel,0.945917,-0.380365
115,Seychelles,0.426735,Seychelles,0.800636,-0.373901
3,Argentina,0.508997,Argentina,0.872747,-0.363749
50,Guatemala,0.285347,Guatemala,0.64369,-0.358343
37,Ecuador,0.442159,Ecuador,0.78685,-0.344691
36,Dominican Republic,0.411311,Dominican Republic,0.746554,-0.335242
104,Peru,0.460154,Peru,0.778367,-0.318213
143,Uruguay,0.514139,Uruguay,0.830329,-0.31619
65,Jamaica,0.460154,Jamaica,0.766702,-0.306548
74,Lesotho,0.236504,Lesotho,0.498409,-0.261905
13,Bolivia,0.439589,Bolivia,0.699894,-0.260305
22,Cape Verde,0.416452,Cape Verde,0.671262,-0.254809
5,Australia,0.737789,Australia,0.984093,-0.246304
111,St. Lucia,0.534704,St. Lucia,0.780488,-0.245783
135,Trinidad and Tobago,0.593830,Trinidad and Tobago,0.83351,-0.23968
109,Russia,0.606684,Russia,0.836691,-0.230008
96,Nicaragua,0.431877,Nicaragua,0.656416,-0.224539
46,Georgia,0.560411,Georgia,0.782609,-0.222197
29,Congo,0.372751,Congo,0.592789,-0.220038
123,Spain,0.712082,Spain,0.922587,-0.210505
26,China,0.544987,China,0.753977,-0.20899
137,Turkey,0.601542,Turkey,0.804878,-0.203336
53,Guyana,0.485861,Guyana,0.687169,-0.201307
23,Central African Republic,0.185090,Central African Republic,0.384942,-0.199852
21,Canada,0.755784,Canada,0.95334,-0.197556
110,Rwanda,0.334190,Rwanda,0.525981,-0.191791
69,Kenya,0.383033,Kenya,0.572641,-0.189607
78,Macedonia,0.596401,Macedonia,0.783669,-0.187268
64,Italy,0.742931,Italy,0.92789,-0.184959
107,Portugal,0.696658,Portugal,0.876988,-0.18033
124,Sri Lanka,0.622108,Sri Lanka,0.801697,-0.179589
141,United Kingdom,0.776350,United Kingdom,0.95334,-0.176991
128,Switzerland,0.814910,Switzerland,0.988335,-0.173425
105,Philippines,0.544987,Philippines,0.717922,-0.172934
49,Greece,0.735219,Greece,0.90456,-0.169341
72,Latvia,0.709512,Latvia,0.871686,-0.162175
45,Gabon,0.544987,Gabon,0.703075,-0.158088
39,El Salvador,0.539846,El Salvador,0.695652,-0.155806
44,France,0.773779,France,0.92895,-0.155171
62,Ireland,0.799486,Ireland,0.948038,-0.148552
60,Iran,0.668380,Iran,0.813362,-0.144981
138,Turkmenistan,0.580977,Turkmenistan,0.721103,-0.140126
66,Japan,0.804627,Japan,0.943796,-0.139169

In [30]:
df_corr.sort_values('corr').tail(60)

,Entity,inv_2011,Country,norm_2011,corr
99,Norway,0.979434,Norway,1,-0.0205656
57,Iceland,0.940874,Iceland,0.955461,-0.0145873
35,Djibouti,0.470437,Djibouti,0.478261,-0.00782385
89,Montenegro,0.838046,Montenegro,0.845175,-0.0071287
67,Jordan,0.763496,Jordan,0.768823,-0.00532676
14,Bosnia and Herzegovina,0.760925,Bosnia and Herzegovina,0.765642,-0.00471612
79,Madagascar,0.532134,Madagascar,0.534464,-0.0023308
150,Zimbabwe,0.519280,Zimbabwe,0.519618,-0.000338034
98,Nigeria,0.524422,Nigeria,0.52386,0.000561573
88,Mongolia,0.758355,Mongolia,0.753977,0.00437809
11,Benin,0.514139,Benin,0.507953,0.00618548
102,Papua New Guinea,0.555270,Papua New Guinea,0.54825,0.00701966
147,Vietnam,0.712082,Vietnam,0.703075,0.00900697
144,Uzbekistan,0.722365,Uzbekistan,0.712619,0.00974574
73,Lebanon,0.812339,Lebanon,0.798515,0.013824
56,Hungary,0.886889,Hungary,0.872747,0.0141429
12,Bhutan,0.632391,Bhutan,0.616119,0.016272
129,Syria,0.709512,Syria,0.680806,0.0287056
33,Czech Republic,0.951157,Czech Republic,0.917285,0.0338716
7,Azerbaijan,0.812339,Azerbaijan,0.775186,0.0371538
91,Mozambique,0.457584,Mozambique,0.414634,0.0429494
4,Armenia,0.825193,Armenia,0.777306,0.0478863
145,Vanuatu,0.670951,Vanuatu,0.620361,0.0505906
139,Uganda,0.575835,Uganda,0.52386,0.0519755
118,Slovenia,0.989717,Slovenia,0.936373,0.0533439
70,Kiribati,0.678663,Kiribati,0.622481,0.0561818
117,Slovakia,0.948586,Slovakia,0.886532,0.0620538
114,Serbia,0.881748,Serbia,0.818664,0.0630842
54,Haiti,0.578406,Haiti,0.502651,0.0757551
0,Albania,0.884319,Albania,0.804878,0.0794407
92,Myanmar (Burma),0.650386,Myanmar (Burma),0.566278,0.0841078
108,Romania,0.930591,Romania,0.846235,0.0843558
113,Senegal,0.593830,Senegal,0.507953,0.085877
58,India,0.724936,India,0.625663,0.099273
68,Kazakhstan,0.925450,Kazakhstan,0.818664,0.106786
24,Chad,0.516710,Chad,0.408271,0.108438
119,Solomon Islands,0.678663,Solomon Islands,0.564157,0.114506
87,Moldova,0.843188,Moldova,0.728526,0.114662
131,"Tanzania, United Republic of",0.658098,"Tanzania, United Republic of",0.521739,0.136359
1,Algeria,0.920308,Algeria,0.782609,0.1377
148,Yemen,0.686375,Yemen,0.541888,0.144488
38,Egypt,0.863753,Egypt,0.709438,0.154315
130,Tajikistan,0.845758,Tajikistan,0.672322,0.173436
61,Iraq,0.871465,Iraq,0.697773,0.173692
19,Burundi,0.622108,Burundi,0.434783,0.187325
8,Bangladesh,0.804627,Bangladesh,0.592789,0.211838
125,Sudan,0.719794,Sudan,0.503712,0.216083
140,Ukraine,1.000000,Ukraine,0.781548,0.218452
94,Nepal,0.786632,Nepal,0.566278,0.220355
71,Kyrgyzstan,0.915167,Kyrgyzstan,0.677625,0.237542
112,Sao Tome and Principe,0.838046,Sao Tome and Principe,0.586426,0.25162
84,Mauritania,0.796915,Mauritania,0.52386,0.273055
100,Pakistan,0.835476,Pakistan,0.559915,0.27556
75,Liberia,0.776350,Liberia,0.484624,0.291726
18,Burkina Faso,0.722365,Burkina Faso,0.408271,0.314094
51,Guinea,0.763496,Guinea,0.446448,0.317049
41,Ethiopia,0.776350,Ethiopia,0.448568,0.327781
116,Sierra Leone,0.755784,Sierra Leone,0.422057,0.333727
83,Mali,0.781491,Mali,0.432662,0.348829
97,Niger,0.820051,Niger,0.345705,0.474346

In [ ]:
gpd_corr = pd.merge(df_map, df_corr[['Country', 'corr']], left_on='country', right_on='Country', how = 'left')
gpd_corr[['corr']] = gpd_corr[['corr']].fillna(0)

In [ ]:
geosource = GeoJSONDataSource(geojson = gpd_corr.to_json())

In [ ]:
#Define a sequential multi-hue color palette.
palette = all_palettes['Viridis'][8]
#Reverse color order 
#palette = palette[::-1]

color_mapper = LinearColorMapper(palette=palette, low = -1, high = 1)

TOOLS = "pan,wheel_zoom,reset,hover,save"

tick_labels = {'0': '0%', '5': '5%', '10':'10%', '15':'15%', '20':'20%', '25':'25%', '30':'30%','35':'35%', '40': '>40%'}

color_bar = ColorBar(color_mapper=color_mapper,
                     label_standoff=8,
                     width = 500,
                     height = 20,
                     border_line_color=None,
                     location = (0,0), 
                     orientation = 'horizontal')
                     #major_label_overrides = tick_labels)

p = figure(
    title='GINI Index vs Human Development Index, ' + str(YEAR), 
    tools=TOOLS,
    plot_height = 480,
    plot_width = 720,
    x_axis_location=None,
    y_axis_location=None,
    tooltips=[
        ("Country", "@country"), ("Correl", "@corr")
    ])
p.grid.grid_line_color = None
p.hover.point_policy = "follow_mouse"

p.patches('xs','ys', source=geosource,
          fill_color={'field': 'corr', 'transform': color_mapper},
          fill_alpha=0.8, line_color="black", line_width=0.1)

p.add_layout(color_bar, 'below')

output_notebook()

show(p)